<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>452904517696-cpsipjqh4302567992tcebr18qg112k0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452904517696-cpsipjqh4302567992tcebr18qg112k0</string>
	<key>API_KEY</key>
	<string>AIzaSyBtzhQANmnluHHFOIDTedRVmH7-XZc9gv8</string>
	<key>GCM_SENDER_ID</key>
	<string>452904517696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.gdgkc.flutterbabynames</string>
	<key>PROJECT_ID</key>
	<string>flutter-baby-names-58a8f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-baby-names-58a8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452904517696:ios:863e5b33e16e890e</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-baby-names-58a8f.firebaseio.com</string>
</dict>
</plist>